label {
    font-size: x-large;
}
input {
    font-size: large;
}
textarea {
    width: 300px;
    height: 120px;
    font-size: large;
}
#runButton {
    width: 150px;
    height: 50px;
    font-size: xx-large;
}
#aggregateSupplyDemandDiv {
    height: 400px;
    width: 300px;
}